<!DOCTYPE html>
<html >
<head th:include="include/commoncss::commoncss(~{})">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="include/header::header"></div>
    <!--查询条件-->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
        <legend>搜索条件</legend>
    </fieldset>
    <form action="" method="post" id="searchUser" lay-filter="searchUser" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="userAccount" class="layui-input input-radius"
                           placeholder="请输入企业名称">
                </div>
            </div>
            <!--<div class="layui-inline">
                <label class="layui-form-label">岗位名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="userName" class="layui-input input-radius"
                           placeholder="请输入岗位名称">
                </div>
            </div>-->

            <div class="layui-inline" style="padding-left: 3%">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-radius" lay-submit="" lay-filter="doSearch"><i
                        class="layui-icon layui-icon-search layui-icon-normal"></i>查询
                </button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm"><i
                        class="layui-icon layui-icon-refresh"></i><span>重置</span>
                </button>
            </div>
        </div>
    </form>
    <!-- 用户列表 -->
    <div>
        <table class="layui-hide" id="userList" lay-filter="userList"></table>
    </div>
    <!-- 表格操作 -->
  <script type="text/html" id="usersToolBar">
        <button type="button" lay-event="userAdd" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">
            <i class="layui-icon layui-icon-add-1"></i>添加公告
        </button>
    </script>
    <!-- 用户操作 -->
    <script type="text/html" id="userListOpt">
        <a class="layui-btn layui-btn-xs" lay-event="userEdit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="userDel">删除</a>
    </script>
    <!-- 添加或修改弹出层 -->
    <div style="display: none;padding: 10px;padding-right: 5%" id="addOrUpdateUser">
        <form action="" method="post" class="layui-form" id="addOrUpdateForm" lay-filter="addOrUpdateForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">企业名称</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="id">
                        <input type="text" name="name" lay-verify="required" autocomplete="off"
                               class="layui-input input-radius" placeholder="请输入企业名称">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">公告内容</label>
                    <div class="layui-input-block">
                        <input type="text" name="content" lay-verify="required" autocomplete="off"
                               class="layui-input input-radius" placeholder="请输入公告内容">
                    </div>
                </div>
            </div>

           <!-- <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">福利待遇</label>
                    <div class="layui-input-block">
                        <input  name="welfare" lay-verify="required" autocomplete="off"
                                class="layui-input input-radius" placeholder="请输入福利待遇">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">公司简介</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" autocomplete="off"
                               name="introduce" class="layui-input input-radius" placeholder="请输入公司简介">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="id">
                        <input type="text" name="telephone" lay-verify="required" autocomplete="off"
                               class="layui-input input-radius" placeholder="请输入联系电话">
                    </div>
                </div>
            </div>-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;padding-right: 7%">
                    <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="userSubmitBtn" id="userSubmitBtn"><i
                            class="layui-icon layui-icon-search layui-icon-normal"></i>提交
                    </button>
                    <button type="userReset" class="layui-btn layui-btn-radius layui-btn-warm"><i
                            class="layui-icon layui-icon-refresh"></i><span>重置</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div th:include="include/commonjs::commonjs(~{::script})">
        <script type="text/javascript" src="/resources/js/common/header.js"></script>
        <script type="text/javascript" src="/resources/js/system/business/business.js"></script>
    </div>
</div>
</body>
</html>